@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two");
* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms; }

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  text-align: center;
  overflow-x: hidden; }

img {
  width: 100%;
  height: auto; }

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none; }

header {
  margin: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  header .logo {
    font-family: "Lobster Two", cursive;
    font-weight: 100;
    color: #08B270;
    font-size: 2.5rem;
    margin-top: 0; }
    @media (min-width: 60rem) {
      header .logo {
        float: left; } }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media (min-width: 60rem) {
      header nav ul {
        float: right; } }
    header nav ul li {
      display: inline-block;
      margin: 1em; }
      header nav ul li a {
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.8rem;
        padding: 0.5em;
        color: #fff; }
        header nav ul li a:hover, header nav ul li a:focus {
          color: #08B270; }

.title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 1em; }
  @media (min-width: 60rem) {
    .title {
      font-size: 3.7rem; } }
  .title span {
    font-weight: 300;
    display: block; }

h1 {
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 0; }

.btn {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid;
  padding: 0.5em 1.75em; }
  @media (min-width: 60rem) {
    .btn {
      font-size: 1.5rem; } }

.btn-accent {
  color: #08B270; }
  .btn-accent:hover, .btn-accent:focus {
    background-color: #08B270;
    color: #232323; }

.btn-small {
  padding: 0.25em 0.5em;
  font-size: 1rem; }

.btn-dark {
  color: #232323; }
  .btn-dark:hover {
    background-color: #232323;
    color: #08B270; }

.cta {
  background-color: #08B270;
  color: #232323;
  padding: 5em 0; }
  .cta::after {
    clear: both;
    display: block;
    content: ""; }
  @media (min-width: 60rem) {
    .cta {
      padding: 5em 0; } }

footer {
  background-color: #000;
  color: #fafafa;
  padding: 1em 0; }
  footer::after {
    clear: both;
    display: block;
    content: ""; }
  footer p {
    margin-top: 0; }

[class^=col-] {
  float: left; }

.col-3 {
  width: 50%; }
  @media (max-width: 780px) {
    .col-3 {
      float: none;
      width: 100%;
      text-align: center; } }

.col-1 {
  width: 16.66666%; }
  @media (max-width: 780px) {
    .col-1 {
      float: none;
      width: 100%;
      text-align: center;
      margin-top: 15px; } }

.hero {
  background-image: url("../img/paulo-ferreira-197103.jpg");
  background-size: cover;
  background-position: center;
  background-color: #555;
  background-repeat: no-repeat;
  padding: 10em 0;
  background-blend-mode: multiply;
  color: #fff; }
  @media (min-width: 60rem) {
    .hero {
      height: 100vh;
      padding-top: 35vh; } }

@media (min-width: 60rem) {
  .about {
    background-image: url("../img/rawpixel-com-236139.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5em; } }
.about .about-text-box {
  background-color: #111;
  padding: 4em;
  width: 100vw;
  outline: 2px solid #08B270;
  outline-offset: -2.5em;
  color: #fff;
  position: relative; }
  @media (min-width: 60rem) {
    .about .about-text-box {
      width: 40%; } }
  .about .about-text-box h1 {
    color: #08B270;
    position: absolute;
    top: 0.75em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 0.145em;
    background-color: #111; }
    @media (min-width: 25rem) {
      .about .about-text-box h1 {
        font-size: 2rem;
        top: 0.6em;
        padding: 0 0.325em; } }
    @media (min-width: 60rem) {
      .about .about-text-box h1 {
        font-size: 1.5rem;
        top: 0.9em;
        padding: 0 0.6em;
        transform: translateX(); } }

.portfolio {
  margin: 3em 0 0 0; }
  .portfolio figure {
    margin: 0; }
  .portfolio img {
    display: block; }
  .portfolio .portfolio-item {
    margin: 0;
    position: relative; }
    @media (min-width: 37rem) {
      .portfolio .portfolio-item {
        width: 50%;
        float: left; } }
    @media (min-width: 60rem) {
      .portfolio .portfolio-item {
        width: 33.333%;
        overflow: hidden; }
        .portfolio .portfolio-item:hover > .portfolio-desc {
          transform: translateY(0%); } }
    .portfolio .portfolio-item .portfolio-desc {
      position: absolute;
      z-index: 100;
      bottom: 0;
      left: 0;
      right: 0;
      color: #fff;
      background: rgba(0, 0, 0, 0.75);
      padding-bottom: 1em; }
      @media (min-width: 60rem) {
        .portfolio .portfolio-item .portfolio-desc {
          transform: translateY(150%); } }
      .portfolio .portfolio-item .portfolio-desc p {
        margin: 1em; }

/*# sourceMappingURL=app.css.map */
